.header {
  &:hover {
    &:before {
      transform: translateY(0);
    }
  }
  &.is-sticky-true {

  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
    background: var(--color-header-bg, #fff);
    transform: translateY(-100%);
    transition: all .25s cubic-bezier(.104,.204,.492,1);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .carousel {
    min-height: 500px;
  }
}

